<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27184461177-08hsdmhlvfnsn9p6u83bnc7okm9bsn7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27184461177-08hsdmhlvfnsn9p6u83bnc7okm9bsn7d</string>
	<key>API_KEY</key>
	<string>AIzaSyDUXs5TDADLCWsj6KPCzwUuMhHyM8NtDa8</string>
	<key>GCM_SENDER_ID</key>
	<string>27184461177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movies</string>
	<key>PROJECT_ID</key>
	<string>flutter-prep-40ffc</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-prep-40ffc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27184461177:ios:7efa0196c823a657e62ba8</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-prep-40ffc-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>